body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 13px;
  line-height: 24px;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #666;
  box-sizing: border-box;
  overflow-x: hidden;
  &.boxed-layout {
    background: #eee;
    .main-container {
      background: $color-white;
    }
    max-width: 1366px;
    margin: 0 auto;
    left: 0;
    right: 0;
  }
}

.boxed-layout {
  .nav-container, .main-container, nav {
    max-width: 1366px;
    margin: 0 auto;
    left: 0;
    right: 0;
  }
}

dd {
  margin: 10px 0;
}

ul {
  list-style: none;
  &.bullets {
    list-style: inside;
  }
  &.color-red i{
    color: $color-red !important;
  }
  &.listWhite li{
    color: $bieser-gray !important;
  }
}

.main-container {
  clear: both;
}

hr {
  border: none;
  border-top: 1px solid #ccc;
  margin: 0 0 24px 0;
  width: 100%;
  &.short-thick {
    max-width: 50px;
    border-top: 5px solid #ccc;
    opacity: 1 !important;
  }
}

.image-bg {
  hr {
    border-color: $color-white;
    opacity: .6;
    &.color-red {
      border-color: $color-red;
    }
  }
  &.bg-light hr {
    border-color: #ccc;
    opacity: 1;
  }
}

.bg-dark hr {
  border-color: $bg-dark;
}

.inline-block {
  display: inline-block;
}

.list-inline {
  margin-left: 0;
  > li {
    padding: 0 8px;
    &:last-child {
      padding-right: 0;
    }
    &:first-child {
      padding-left: 0;
    }
  }
}

.bg-primary .list-inline i {
  color: #ee788a;
}

.overflow-hidden {
  overflow: hidden;
}

.display-block {
  display: block;
}

.show-grid {
  border: 1px dashed rgba(255, 255, 255, 0);
  padding: 8px;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  cursor: default;
  &:hover {
    border-color: #222;
  }
}

.right {
  right: 0;
}

.relative {
  position: relative;
  z-index: 2;
}

.clearboth {
  clear: both;
}

.spread-children * {
  display: inline-block;
  margin-left: 12px;
  margin-right: 12px;
}

.spread-children-large * {
  display: inline-block;
  margin-left: 24px;
  margin-right: 24px;
}

.container {
  position: relative;
}

.vnu {
  display: inline;
}

@media all and (max-width: 1100px) {
  .col-md-push-1 {
    left: 0;
  }
}

@media all and (max-width: 768px) {
  .pull-left-sm {
    float: left !important;
  }
  .overflow-hidden-xs {
    overflow: hidden;
  }
}

@media all and (max-width: 767px) {
  .spread-children * {
    margin-left: 6px;
    margin-right: 6px;
  }
  img.bw{
    max-height: 45px;
  }
}
