/* SWAG SHOP */



.product-single {
  .image-slider .label {
    font-size: 12px;
    text-transform: uppercase;
    position: absolute;
    z-index: 3;
    top: 16px;
    right: 16px;
  }
  .price {
    font-size: 32px;
    font-weight: 300;
    line-height: 40px;
    display: inline-block;
    margin-right: 32px;
  }
  .old-price {
    text-decoration: line-through;
    opacity: .7;
  }
  .price:not(.old-price) {
    color: $color-red;
  }
}

.add-to-cart input {
  &[type="text"] {
    width: 100px;
    text-align: center;
    padding: 0;
    margin: 0;
  }
  &[type="submit"] {
    width: 160px;
    margin: 0;
  }
}

th, td {
  line-height: 24px !important;
}

.ratings {
  margin-bottom: 24px;
  li {
    display: inline-block;
    background: $bg-second;
    padding: 24px;
    margin-bottom: 16px;
  }
}

.star-rating {
  li {
    padding: 0;
    color: #000;
  }
  margin: 0;
  display: inline-block;
  margin-right: 24px;
}

.ratings .user {
  span {
    display: inline-block;
    margin-right: 8px;
  }
  .date {
    opacity: .7;
  }
  margin-bottom: 8px;
}

.ratings-form input {
  &[type="text"] {
    width: 50%;
    float: left;
    &:first-child {
      width: 48%;
      margin-right: 2%;
    }
  }
  &[type="submit"] {
    width: 200px;
  }
}

.product-thumb {
  max-width: 180px;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  opacity: 1;
  transform: scale3d(1, 1, 1);
}

.col-sm-6 .product-thumb {
  max-width: 320px;
}

.product-thumb:hover {
  transform: scale3d(0.95, 0.95, 0.95);
  -webkit-transform: scale3d(0.95, 0.95, 0.95);
}

.cart {
  .product-thumb {
    max-width: 10000px;
    max-height: 100px;
    &:hover {
      transform: none;
    }
  }
  td, span, th {
    vertical-align: middle !important;
  }
  span {
    display: inline-block;
  }
  .remove-item {
    display: inline-block;
    width: 24px;
    height: 24px;
    position: relative;
    border: 1px solid #c64444;
    color: #c64444;
    border-radius: 50%;
    text-align: center;
    font-size: 12px;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    &:hover {
      color: $color-white;
      background: #c64444;
    }
  }
}
