/* =Variables
----------------------------------------------- */
//COLORS
$color-red: #e31d3b;
$color-white: #ffffff;
$bg-primary: #232323;
$bg-second: #f8f8f8;

// SOCIAL MEDIA
$twitter: #00aced;
$facebook: #3b5998;
$google: #dd4b39;
$linkedin: #007bb6;

// FONTS
@import url(https://fonts.googleapis.com/css?family=Raleway:400,100,300,500,600,700|Lato:300,400|Open+Sans:400,300,600|Roboto:400,100,300,700,500|PT+Serif);
